.home__r2 .cds--tabs--scrollable {
    transform: translateZ(0);
    justify-content: flex-end;
  }
  
  .home__r2__r2 .cds--tab-content {
    padding: 0;
  }
  
  .cds--tab--list {
    justify-content: flex-end;
    padding-right: 1rem;
  }
  
  .cds--subgrid--wide {
     margin-right: 1rem;
  }

  .home__illo {
    max-width: 100%;
  }